@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.title {
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#record{
    background-color: aquamarine;
}
